<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Hi <%= @user.first_name.to_s + ' ' + @user.last_name.to_s %></h2>
    <p>
      You have successfully signed up to TRANTHANHEPU.COM      
    </p>
    <p>
      Before login to the our site, please confirm your email by follow this link: <%= @url %>.
    </p>
    <p>
        -------***********-------<br/>      
        <a href="http://tranthanhepu.com">TRANTHANHEPU.COM</a>
    </p>    
  </body>
</html>