
<div class="header">
	<div class="menu">
		<div class="left">
			<a href="<%= request.env["HTTP_HOST"] %>" class="logo" title="AgriDoctor system">DemoRoR</a>
			<input type="text" value="" placeholder="Search posts, friends..." class="search"/>
		</div>
		<div class="right">
			<a href="#" title="Sign In" class="sign_in">Sign In</a>
			<span>or</span>
			<a href="#" title="Sign Up" class="sign_up">Sign Up</a>
		</div>
	</div>	
</div>
<div class="main">		
	<p class="bg-success">						
		○　Registed successfully, please check your email to see more details
	</p>
</div>
<div class="footer">
	<div class="info">
		tranthanhepu.com © 2014
	</div>
</div>
	